<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img id="peaches" class="pull-right" src="../../assets/logo.jpg">
        <h1 class="display-4">Peachtree Bank, NA</h1>
        <p class="lead">Redefining Digital Banking in the 21st Century</p>
    </div>
</div>
<div class="container-fluid">
    <!-- Highlight Card -->
    <div class="card highlight-card card-small card-adjust">
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;
            <strong class="card-text">{{ title }} app is running!</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- <p *ngIf="appService.username" class="welcome">Welcome {{ appService.username }}, <span (click)="logout()" class="logout text-primary">Logout</span></p>-->
        </div>
    </div>
</div>